.doverlay {
  background-image: url("../img/overlay.png");
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 0;
}

.grayscale {
  filter: grayscale(100%);
}

.icons {
  border: 5px solid #fff;
  border-radius: 35px;
  width: 70px;
  height: 70px;
  display: block;
}

.icons svg {
  position: relative;
  top: 25%;
  left: 25%;
}

.section2 span {
  font-size: 12px;
}
